* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    div {
        margin: 50px;
    }
    input {
        border: none;
        width: 150px;
        height: 150px;
        font-size: 25px;
        font-family: 'Courier New', Courier, monospace;
        color: transparent;
        font-weight: 800;
        border-radius: 10px;
        transition: 0.5s;
        &:hover {
            cursor: pointer;
        }
    }
}
.item {
    justify-content: center;
    div {
        margin-top: -8px;
        margin-left: -6px;
    }
    input {
        width: 700px;
        height: 60px;
        color: transparent;
    }
}